body{
    background-image: linear-gradient(to right, rgba(93, 51, 230, 0.534), rgba(118, 101, 216, 0.6)) ,url("../survayForm/images/imagDeFond.jpeg");
   color: rgb(252, 251, 249);
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1500px 800px;

   
   

    
}
header{
    text-align: center;
}

    

form{
    background-color: black;
    color: blanchedalmond;
   width:30%;
   height: auto;
   position: absolute;
   left:500px;
 padding-left: 50px;
 padding-top: 20px;
 padding-bottom: 20px;
 opacity: 0.7;
 margin-top:10px
 
}
#button{
background-color: rgb(41, 145, 55);
}



.width{
    width:80%; 
  
}
textarea{
    height:100px;
    width: 80%;
}